.content-section-container {
  margin-top: 10%;
}

.entry-flex {
  display: flex;
}

.remove-browser-margin {
  margin-block-start: 0;
  color: var(--text_color);
  font-family: var(--MS_LI);
  font-size: 2em;
}

.profile-img-container {
  flex-basis: 20%;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

.profile-img-container img {
  height: 85%;
}

.about-entry-text-container {
  width: 90%;
  margin-right: 10%;
  display: flex;
}

.block-separator-one {
  color: var(--text_color);
  font-family: var(--MS_SBI);
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.5em;
}
.block-separator {
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}

.main-text {
  font-size: 1.5em;

  margin: auto;
  width: 80%;
  color: var(--text_color);
  font-family: var(--MS_LI);
}

.about-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}

.reach-button,
.viewskills-button {
  width: 25%;
}

.inline-text {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
}

@media (min-width: 320px) {
  .profile-img-container img {
    display: none;
  }
  .entry-flex {
    display: block;
  }
  .about-entry-text-container {
    margin: auto;
  }
  .remove-browser-margin {
    font-size: 1em;
  }
  .main-text {
    width: 90%;
    margin: auto;
  }

  .block-separator-one {
    font-size: 1em;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .block-separator {
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .main-text {
    font-size: 1em;
  }
  .inline-text {
    width: 80%;
  }
  .entry-text-separator {
    display: block;
    margin-top: 5%;
  }
  .about-buttons-container {
    display: block;
  }
  .reach-button,
  .viewskills-button {
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 360px) {
}
@media (min-width: 480px) {
}
@media (min-width: 600px) {
}
@media (min-width: 800px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1680px) {
}
@media (min-width: 1920px) {
}
