.leadership-header {
  display: flex;
  margin-top: 30%;
  justify-content: end;
}

.leadership-header img {
  width: 30%;
}

.leadershipTitles {
  text-align: right;
  width: 70%;
}

.titles-line-height {
  line-height: 80%;
}

.leadershipTitles p {
  text-align: right;
  width: 80%;
  margin-left: auto;
}

.end-title {
  text-align: center;
  margin: auto;
  margin-top: 15%;
}

.flowchart-text-container {
  margin-top: 15%;
  display: flex;
}

.flow-chart-image {
  width: 50%;
}

.flow-chart-image img {
  width: 100%;
}

.flowchart-text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.flowchart-text p {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.second-flowchart-container {
  margin-top: 10%;
  display: flex;
}

.second-flowchart-image img {
  width: 100%;
}

.second-flowchart-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-basis: 70%;
}

.second-flowchart-text p {
  width: 50%;
}

.scorecard-and-text-flex-container {
  display: flex;
  justify-content: center; /* Adjust as needed */
  margin-top: 10%; /* Adjust as needed */
}

.scorecard-container {
  margin-right: 5em;
  border: 2px solid #43ecd8;
  border-radius: 1%;
  background-color: rgba(0, 169, 139, 0.5);
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 35%;
  flex-direction: column; /* Aligns checklist items vertically */
  align-items: center; /* Centers checklist items horizontally */
}

.scorecard-container h1 {
  color: white;
  border-bottom: 1px solid white;
  text-align: center;
  font-family: var(--MS_SBI);
  font-size: 3em;
}

.scorecard-item {
  display: flex;
  align-items: center; /* Aligns text and checkbox */
  justify-content: space-between;
  width: 70%;
  margin-bottom: 3em; /* Space between items */
}

.scorecard-text {
  color: white;
  font-family: var(--MS_LI);
  text-align: left;
  margin-right: 10px; /* Space before the checkbox */
}

.scorecard-checkbox {
  color: white;
}

.scorecard-paragraph-container {
  flex-basis: 30%; /* Adjust as needed */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.scorecard-paragraph-container p {
  width: 80%;
  font-size: 1.2em;
}

.scorecard-lines {
  width: 70%;
  border-top: 1px solid white;
  margin-bottom: 1em;
  align-self: flex-start;
  margin-left: 15%;
}

.graduation-text {
  width: 50%;
  margin-top: 15% !important;
  margin: auto;
}

.response-text {
  margin-left: 60%;
  margin-top: 10%;
  text-align: left;
}

.work-experience-para1 {
  opacity: 0;
  transform: translateX(-10%);
  transition: transform 1s, opacity 1s ease-in-out;
}

.work-experience-para1.activate {
  opacity: 1;
  transform: translateX(0%);
}

.para2-overflow-text-1,
.para2-overflow-text-2,
.para3-overflow-text-1,
.para3-overflow-text-2,
.second-flowchart-text,
.para5-overflow-text-1,
.para5-overflow-text-2,
.para5-overflow-text-3,
.para5-overflow-text-4 {
  overflow: hidden;
}

.para2-overflow-text-2 p {
  border-bottom: 1px solid white;
}

.para2-overflow-text-1 p,
.para2-overflow-text-2 p {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.para2-overflow-text-1.activate p,
.para2-overflow-text-2.activate p {
  transform: translateX(0%);
}

#and-so-he-did {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

.para3-overflow-text-1 p,
.para3-overflow-text-2 p {
  transform: translateY(-120%);
  transition: transform 0.5s ease-in-out;
}

.para3-overflow-text-1.activate p,
.para3-overflow-text-2.activate p {
  transform: translateY(0%);
}

.second-flowchart-text p {
  transform: translateX(-200%);
  transition: transform 0.5s ease-in-out;
}
.second-flowchart-text.activate p {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

.para5-overflow-text-1 p,
.para5-overflow-text-2 p,
.para5-overflow-text-3 p,
.para5-overflow-text-4 p {
  transform: translateY(-200%);
  transition: transform 0.5s ease-in-out;
}
.para5-overflow-text-1.activate p,
.para5-overflow-text-2.activate p,
.para5-overflow-text-3.activate p,
.para5-overflow-text-4.activate p {
  transform: translateY(0%);
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 480px) {
  .leadership-header {
    display: block;
  }
  .leadership-header img {
    display: none;
  }

  .titles-line-height {
    line-height: 100%;
  }
  .leadershipTitles {
    margin: auto;
    width: 95%;
    text-align: right;
  }

  .graduation-text {
    margin: auto;
    padding: 1em;
    width: 80%;
  }

  .response-text {
    margin-left: 30%;
  }
  .flowchart-text-container {
    display: block;
  }
  .flow-chart-image {
    margin: auto;
    width: 90%;
  }
  .second-flowchart-image {
    width: 30%;
  }

  .second-flowchart-text p {
    width: 70%;
  }
  .scorecard-and-text-flex-container {
    display: block;
  }
  .scorecard-container {
    width: 80%;
    margin: auto;
  }
  .para3-overflow-text-1.activate p,
  .para3-overflow-text-2.activate p {
    text-align: center;
  }
  .second-flowchart-image {
    align-self: center;
  }
}

@media (max-width: 360px) {
  .scorecard-item {
    margin-bottom: 2em;
  }
  .para3-overflow-text-1 p,
  .para3-overflow-text-2 p {
    width: 80%;
  }
  .scorecard-lines {
    display: none;
  }
}
