.contact-flex-container {
  margin-top: 10%;
  display: flex;
  width: 100%;
}

.contact-form-container,
.follow-progress-container {
  width: 50%;
}

.input-block {
  display: block;
  font-family: var(--MS_SBI);
  font-size: 1em;
  color: turquoise;
}

.contact-form-container input,
.custom-select {
  border-radius: 8px;
  height: 50px;
  margin-bottom: 5%;
}
.contact-form-container input,
.custom-select {
  width: 60%;
}

.select1 {
  height: 50px;
}

.text-area {
  resize: none;
  width: 90%;
  height: 200px;
}

.text-area-container {
  margin-top: 5%;
}

.follow-progress-text {
  display: flex;
}
.contact-text-container {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}
.contact-form-container {
  padding-left: 10%;
  margin-bottom: 10%;
}

.text-area:focus,
input:focus {
  outline: none;
  border: 1px solid turquoise;
}

.custom-select {
  position: relative;
}

select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 1em;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  outline: none;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

input,
select,
textarea {
  font-family: var(--MS_BI);
  box-sizing: border-box;
  margin-top: 2px;
  font-size: 1em;
  border: none;
}

input {
  padding-left: 1%;
}

textarea {
  padding: 1%;
  border-radius: 8px;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

.send-button-container {
  width: 50%;
}
.send-button {
  margin-top: 2%;
  background-color: #e7008b;
  margin-bottom: 10%;
  border-radius: 10px;
  font-family: var(--MS_Bold);
  font-size: 1.5em;
  color: white;
}

.send-button:hover {
  background-color: #fd129f;
  cursor: pointer;
}

.follow-progress-text p {
  font-family: var(--MS_BI);
  color: white;
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
}

.devicon-plain--linkedin-wordmark {
  display: flex;
  cursor: pointer;
  width: 12em;
  height: 10em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23ef008b' d='M.85 51.73h4.94v17.98h9.14v4.56H.85zM17.11 59h4.74v15.26h-4.74zm2.37-7.59a2.75 2.75 0 1 1-2.75 2.75a2.75 2.75 0 0 1 2.75-2.75m22.21.32h4.74V65.2l5.38-6.22h5.81l-6.22 7.07l6.09 8.22h-5.96l-5.04-7.55h-.06v7.55h-4.74zM24.48 59H29v2.09h.06a5 5 0 0 1 4.49-2.47c4.81 0 5.69 3.16 5.69 7.27v8.38h-4.7v-7.43c0-1.77 0-4-2.47-4s-2.85 1.93-2.85 3.92v7.55h-4.74z'/%3E%3Cpath fill='%23ef008b' d='M67.61 64.85a2.84 2.84 0 0 0-2.91-2.91a3.16 3.16 0 0 0-3.35 2.91zm4 6.77a8.35 8.35 0 0 1-6.48 3c-4.74 0-8.54-3.16-8.54-8.07s3.8-8.06 8.54-8.06c4.43 0 7.21 3.16 7.21 8.06v1.49h-11a3.54 3.54 0 0 0 3.57 3a4 4 0 0 0 3.38-1.87zm10.62-8.94A3.89 3.89 0 1 0 86 66.57a3.6 3.6 0 0 0-3.8-3.89m8.2 11.58H86v-2a6 6 0 0 1-4.71 2.4c-4.56 0-7.56-3.29-7.56-7.94c0-4.27 2.66-8.19 7-8.19a5.73 5.73 0 0 1 4.87 2h.06v-8.8h4.74zM124.6 47H97.36A2.33 2.33 0 0 0 95 49.34v27.35A2.33 2.33 0 0 0 97.36 79h27.24a2.34 2.34 0 0 0 2.4-2.31V49.34a2.34 2.34 0 0 0-2.4-2.34m-20.12 27.27h-4.74V59h4.74zm-2.37-17.34a2.75 2.75 0 1 1 2.75-2.75a2.75 2.75 0 0 1-2.75 2.75m20.13 17.34h-4.74v-7.42c0-1.77 0-4-2.46-4s-2.85 1.93-2.85 3.92v7.55h-4.74V59H112v2.1h.06a5 5 0 0 1 4.49-2.46c4.8 0 5.69 3.16 5.69 7.27z'/%3E%3C/svg%3E");
}

.logos--github {
  display: flex;

  cursor: pointer;

  width: 10em;
  height: 10em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 139'%3E%3Cpath fill='%230ff8f8' d='M98.696 59.312h-43.06a2.015 2.015 0 0 0-2.013 2.014v21.053c0 1.111.902 2.015 2.012 2.015h16.799v26.157s-3.772 1.286-14.2 1.286c-12.303 0-29.49-4.496-29.49-42.288c0-37.8 17.897-42.773 34.698-42.773c14.543 0 20.809 2.56 24.795 3.794c1.253.384 2.412-.863 2.412-1.975l4.803-20.342c0-.52-.176-1.146-.769-1.571C93.064 5.527 83.187 0 58.233 0C29.488 0 0 12.23 0 71.023c0 58.795 33.76 67.556 62.21 67.556c23.555 0 37.844-10.066 37.844-10.066c.59-.325.653-1.148.653-1.526V61.326c0-1.11-.9-2.014-2.01-2.014m221.8-51.953c0-1.12-.888-2.024-1.999-2.024h-24.246a2.016 2.016 0 0 0-2.008 2.024l.006 46.856h-37.792V7.36c0-1.12-.892-2.024-2.001-2.024H228.21a2.014 2.014 0 0 0-2.003 2.024v126.872c0 1.12.9 2.03 2.003 2.03h24.245c1.109 0 2-.91 2-2.03V79.964h37.793l-.066 54.267c0 1.12.9 2.03 2.008 2.03h24.304c1.11 0 1.998-.91 2-2.03zM144.37 24.322c0-8.73-7-15.786-15.635-15.786c-8.627 0-15.632 7.055-15.632 15.786c0 8.72 7.005 15.795 15.632 15.795c8.635 0 15.635-7.075 15.635-15.795m-1.924 83.212V48.97a2.015 2.015 0 0 0-2.006-2.021h-24.169c-1.109 0-2.1 1.144-2.1 2.256v83.905c0 2.466 1.536 3.199 3.525 3.199h21.775c2.39 0 2.975-1.173 2.975-3.239zM413.162 46.95h-24.06c-1.104 0-2.002.909-2.002 2.028v62.21s-6.112 4.472-14.788 4.472c-8.675 0-10.977-3.937-10.977-12.431v-54.25c0-1.12-.897-2.03-2.001-2.03h-24.419c-1.102 0-2.005.91-2.005 2.03v58.358c0 25.23 14.063 31.403 33.408 31.403c15.87 0 28.665-8.767 28.665-8.767s.61 4.62.885 5.168c.276.547.994 1.098 1.77 1.098l15.535-.068c1.102 0 2.005-.911 2.005-2.025l-.008-85.168a2.02 2.02 0 0 0-2.008-2.028m55.435 68.758c-8.345-.254-14.006-4.041-14.006-4.041V71.488s5.585-3.423 12.436-4.035c8.664-.776 17.013 1.841 17.013 22.51c0 21.795-3.768 26.096-15.443 25.744m9.49-71.483c-13.665 0-22.96 6.097-22.96 6.097V7.359a2.01 2.01 0 0 0-2-2.024h-24.315a2.013 2.013 0 0 0-2.004 2.024v126.872c0 1.12.898 2.03 2.007 2.03h16.87c.76 0 1.335-.39 1.76-1.077c.419-.682 1.024-5.85 1.024-5.85s9.942 9.422 28.763 9.422c22.096 0 34.768-11.208 34.768-50.315s-20.238-44.217-33.913-44.217M212.229 46.73h-18.187l-.028-24.027c0-.909-.468-1.364-1.52-1.364H167.71c-.964 0-1.481.424-1.481 1.35v24.83s-12.42 2.998-13.26 3.24a2.013 2.013 0 0 0-1.452 1.934v15.603c0 1.122.896 2.027 2.005 2.027h12.707v37.536c0 27.88 19.556 30.619 32.753 30.619c6.03 0 13.243-1.937 14.434-2.376c.72-.265 1.138-1.01 1.138-1.82l.02-17.164c0-1.119-.945-2.025-2.01-2.025c-1.06 0-3.77.431-6.562.431c-8.933 0-11.96-4.154-11.96-9.53l-.001-35.67h18.188a2.014 2.014 0 0 0 2.006-2.028V48.753c0-1.12-.897-2.022-2.006-2.022'/%3E%3C/svg%3E");
}

@media (min-width: 320px) {
  .contact-flex-container {
    display: block;
  }
  .contact-form-container,
  .follow-progress-container {
    width: 90%;
  }
  .contact-form-container input,
  .custom-select {
    width: 80%;
  }
  select {
    padding: 0.675em 0em 0.675em 1em;
  }
  .follow-progress-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
  }
  .follow-progress-text {
    display: block;
  }
  .follow-progress-text p {
    font-size: 2.5em;
    margin-block-end: 0;
  }
  .icons-container {
    display: block;
    margin-bottom: 10%;
  }

  .devicon-plain--linkedin-wordmark,
  .logos--github {
    margin: auto;
  }
  .devicon-plain--linkedin-wordmark {
    height: 8em;
  }
  .logos--github {
    height: 2em;
  }
}
@media (min-width: 360px) {
}
@media (min-width: 480px) {
  .devicon-plain--linkedin-wordmark {
    height: 10em;
  }
  .logos--github {
    height: 10em;
  }
  .icons-container {
    display: flex;
    margin-bottom: 10%;
  }
}
@media (min-width: 600px) {
  .contact-form-container input,
  .custom-select {
    width: 60%;
  }
}
@media (min-width: 800px) {
  .follow-progress-text p {
    font-size: 3em;
  }
}
@media (min-width: 1024px) {
  .contact-flex-container {
    display: flex;
  }
  .follow-progress-container {
    margin-top: 0;
  }
  .follow-progress-text p {
    margin-block-start: 0;
  }
  .text-area {
    width: 100%;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1680px) {
}
@media (min-width: 1920px) {
}
