.logo {
    margin-top: 2em;
    border: 1px solid gold;
  }

  .logo img {
    max-width: 100%;
    margin: auto;
  }
  
.hero-content {
  border: 1px solid red;
    margin-top: 2em;
    padding-top: 3em;
    padding-left: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .hero-title {
    margin-top: 3em;
    width: 70%;
    padding-top: 1em;
  }
  
  
  .hero-title h1 {
    margin: 0;
  }

  @media (max-width: 768px) {
        .logo {
          display: none;
        }
        
        .hero-content {
          margin-top: 0;
        }
    }

  