.navbar {
  z-index: 10000;
  pointer-events: auto;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  width: 100%;
}

.navbar li {
  margin: 1em;
  display: inline;
}

.active-link {
  pointer-events: auto;
  font-family: var(--MS_Bold);
  text-decoration: none;
  color: white;
  font-size: large;
  padding: 5px;
}

.active-link:active,
.active-link:focus-within,
.active-link:hover {
  color: turquoise;
  font-weight: bold;
}

.active-link:focus-within {
  border: 2px solid turquoise;
  padding: 3px;
  border-radius: 5px;
}

.scroll-active {
  color: red;
}

@media (min-width: 320px) {
  .navbar {
    justify-content: center;
    text-align: center;
  }
  .navbar ul {
    padding: 0;
  }
  .navbar a {
    font-size: 1em;
  }
}

@media (min-width: 480px) {
  .navbar a {
    font-size: 1.5em;
  }
}
@media (min-width: 480px) {
  .navbar a {
    font-size: 1.5em;
  }
}
@media (min-width: 768px) {
  .navbar ul {
    margin-right: 2%;
    margin-top: 3%;
  }
  .navbar a {
    font-size: 1.8em;
  }
  .navbar {
    justify-content: flex-end;
    text-align: center;
  }
}
@media (min-width: 1400px) {
  .navbar a {
    font-size: 2em;
  }
}
@media (min-width: 1600px) {
  .navbar a {
    font-size: 2.2em;
  }
}
@media (min-width: 1920px) {
  .navbar a {
    font-size: 2.4em;
  }
}
