:root {
  --MS_Bold:"MontserratBold";
  --MS_LI:"MontserratLightItalic";
  --MS_SBI:"MontserratSemiBoldItalic";
  --MS_EBI:"MontserratExtraBoldItalic";
  --MS_BI:"MontserratBoldItalic";
  --MS_MI:"MontserratMediumItalic";
  
  --text_color: white;
  --title_color: white;
  --title-h2-color: turquoise;
  --continuation-text-color: rgb(217, 235, 236);
  
  
  --h1-text-size: 6em;
  --h2-text-size: 4em;
  --h3-text-size: 2em;
  --h4-text-size: 1.2em;

  --continuation-text-size: 3.5em;
  
  --narrator-paragraph-size: 1.3em;
  --response-paragraph-size: 1.5em;

  --line-height: 80%;
  /* --title-text-size: */
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #2d073d, 5%, #110a20, 50%, #030423);
  
  /* background-image: url("../public/secondBackgroundCV1.png"); */

  /* background: linear-gradient(135deg, rgba(48, 0, 72, 0.8) 0%, rgba(48, 0, 68, 0.858) 50%, rgba(0, 0, 0, 0.8) 100%),
  linear-gradient(45deg, rgba(72, 0, 108, 0.6) 0%, rgba(0, 0, 128, 0.6) 50%, rgba(0, 0, 0, 0.6) 100%);
  animation: GradientAnimation 15s ease infinite;
  background-size: 100% 100%;
  height: 1110vh; */
}


@keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.content-page, body {
  margin: 0;
  padding: 0;
}


/* Main Title */
 .main-title {
  font-size: 4em;
  font-family: var(--MS_Bold);
  color: var(--title_color);
 }

 /* Section title */
.section-title-h1 {
  font-family: var(--MS_EBI);
  color: var(--title-h2-color);
  font-size: var(--h1-text-size);
  line-height: var(--line-height);
}

/* Section Subtitle */
.section-title-h2 {
  font-family: var(--MS_EBI);
  font-size: var(--h2-text-size);
  color: var(--title-h2-color);
}

.section-title-h3 {
  font-family: var(--MS_BI);
  font-size: var(--h3-text-size);
  color: var(--text_color);
}

/* Section Title Subparagraph */
 .section-title-h4 {
  font-family: var(--MS_LI);
  color: var(--text_color);
  font-size: var(--h4-text-size);
 }

 /* Narrator Paragraph */
 .narrator-paragraph-text {
  color: var(--text_color);
  font-family: var(--MS_LI);
  font-size: var(--narrator-paragraph-size);
 }

 /* response paragraph */
.response-paragraph {
  color: var(--text_color);
  font-family: var(--MS_SBI);
  font-size:var(--response-paragraph-size) ;
}

.word-highlight-turq {
  font-family: var(--MS_SBI);
  color: turquoise;
  font-size: 1.1em;
}

.thought-word-highlight {
  color: turquoise;
  font-weight: bold;
}

.word-highlight-pink {
  font-family: var(--MS_SBI);
  color: #ff80f3ff;
  font-size: 1.1em;
}

.continuations {
  color: var(--continuation-text-color);
  font-family: var(--MS_BI);
  font-size: var(--continuation-text-size);
}



@media (max-width: 768px) {
  :root {
    --h1-text-size: 3em;
    --h2-text-size: 4em;
    --h3-text-size: 1.5em;
    --h4-text-size: 1em;
  
    --continuation-text-size: 3em;
    
    --narrator-paragraph-size: 1em;
    --response-paragraph-size: 1em;

    --line-height: 100%;
    
  }
  .main-title {
    font-size: 3em;
  }
}