.the-beginning-container {
  margin-top: 20%;
  display: flex;
}

.the-beginning-container img {
  flex-grow: 2;
  flex-basis: 25%;
}

.narrator-paragraph-container {
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 70%;
}

.narrator-paragraph-container h1 {
  width: 80%;
}

.narrator-paragraph-container p {
  margin-top: 3em;
  width: 80%;
  text-align: start;
  opacity: 0;
  transform: translateX(20%);
  transition: transform 2s, opacity 2s ease-in-out;
}

.narrator-paragraph-container.active p {
  opacity: 1;
  transform: translateX(0%);
}

@media (max-width: 800px) {
  .narrator-paragraph-container {
    margin-left: 5%;
    margin-bottom: 0;
  }

  .narrator-paragraph-container p {
    margin-top: 5%;
    margin-bottom: 0;
  }
  .narrator-paragraph-container h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .the-beginning-container img {
    align-self: flex-end;
    height: 30%;
  }
}

@media (max-width: 480px) {
  .narrator-paragraph-container.active p {
    text-align: center;
  }

  .narrator-paragraph-container h1 {
    text-align: center;
    margin: auto;
  }

  .narrator-paragraph-text {
    margin-left: auto;
    margin-right: auto;
  }

  .the-beginning-container img {
    display: none;
  }
}
